<section id="header">
	<header class="major">
		<h1>Lucas Callado</h1>
		<p>Full Stack Developer and Technologist</p>
	</header>
	<div class="container">
		<ul class="actions">
			<li><a href="#one" class="button special scrolly">Begin</a></li>
		</ul>
	</div>
</section>
<!-- One -->
<section id="one" class="main special">
	<div class="container">
		<div class="content">
			<header class="major">
				<h2>Who I am</h2>
			</header>
			<p></p>
		</div>
		<a href="#footer" class="goto-next scrolly">Next</a>
	</div>
</section>
