<section id="footer">
	<div class="container">
		<header class="major">
			<h2>Get in touch</h2>
		</header>
		<form method="post" action="mailto:website@lucascallado.com">
			<div class="row uniform">
				<div class="6u 12u$(xsmall)"><input type="text" name="name" id="name" placeholder="Name" /></div>
				<div class="6u$ 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Email" /></div>
				<div class="12u$"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
				<div class="12u$">
					<ul class="actions">
						<li><input type="submit" value="Send Message" class="special" /></li>
					</ul>
				</div>
			</div>
		</form>
	</div>
	<footer>
		<ul class="icons">
   <li><a href="https://www.linkedin.com/in/lucascallado" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
   <li><a href="https://twitter.com/lucascallado" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="https://www.facebook.com/lcallado" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
			<!-- <li><a href="mailto:spam@spam.com" class="icon alt fa-envelope"><span class="label">Email</span></a></li> -->
		</ul>
		<ul class="copyright">
			<li>Lucas Callado &copy; 2017</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>
	</footer>
</section>
